<!doctype html>
<html lang="it">

<head>
    <%- include("../partials/head")%>
</head>

<body class="bootstrap">

    <nav id="topNavBar" class="navbar navbar-expand-lg navbar bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Meteo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li>
                        <a class="nav-link active" aria-current="page" href="/previsioniRegionali">Previsioni Regionali</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <%= user%>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Area Personale</a></li>
                            <li><a class="dropdown-item" href="/logout">Logout</a></li>
                        </ul>
                    </li>

                    <l1>
                        <input type="checkbox" class="btn-check" id="darkModeToggle" autocomplete="off">
                        <label class="btn btn-outline-primary" for="darkModeToggle">dark mode</label>
                    </l1>
                </ul>
                <div id="ricerca" class="d-flex">
                    <div id="ricercaDropdown" class="rounded shadow-5">
                    </div>
                    <form id="formRicerca" class="d-none d-md-flex input-group w-auto my-auto">
                        <input id="inputRicerca" class="form-control me-2" type="search"
                            placeholder="Inserisci una città..." aria-label="Search" autocomplete="off">
                        <button class="btn btn-outline-success" type="submit">Cerca</button>
                    </form>

                </div>
            </div>
        </div>
    </nav>

    <div class="container text-center mt-4">
        <div class="row mb-2">
            <div class="col rounded bg-secondary mr-2">
                <p class="lead">nome utente: </p>
            </div>
            <div class="col rounded bg-secondary mr-2">
                <p id="pUser">
                    <%= user%>
                </p>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col rounded bg-secondary mr-2">
                <p class="lead">email: </p>
            </div>
            <div class="col rounded bg-secondary mr-2">
                <p id="pEmail">
                    <%= email%>
                </p>
            </div>
        </div>
        <%if(pref !==undefined) {%>
            <div id="divPref" class="container text-center">
                <p class="h3">città preferite:</p>
                <%for(let el in pref){%>
                    <div class="row mb-2">
                        <div class="col rounded bg-secondary mr-2">
                            <p class="h4">
                                <%= pref[el]%>
                            </p>
                            <button type="text" class="rimuovi btn btn-primary btn-block mb-4">Rimuovi</button>
                        </div>
                    </div>
                    <%}%>
            </div>
            <%}%>
    </div>

    <div class="container text-center mt-5">
        <div class="text-center">
            <p class="h3 mb-3">Modifica i tuoi dati qui</p>
        </div>
        <div id="containerUser" class="container">
            <form id="userForm">
                <div class="form-outline mb-4">
                    <input type="text" name="user" id="user" class="form-control" required />
                    <label class="form-label" for="user">username</label>
                </div>
                <button type="submit" class="btn btn-primary btn-block mb-4">Aggiorna username</button>
            </form>
        </div>
        <div id="containerEmail" class="container">
            <form id="emailForm">
                <div class="form-outline mb-4">
                    <input type="email" name="mail" id="mail" class="form-control" required />
                    <label class="form-label" for="mail">Indirizzo Email</label>
                </div>
                <button type="submit" class="btn btn-primary btn-block mb-4">Aggiorna e-mail</button>
            </form>
        </div>
        <div id="containerPw" class="container">
            <form id="pwForm">
                <div class="form-outline mb-4">
                    <input type="password" name="pw" id="pw" class="form-control" required />
                    <label class="form-label" for="pw">Password</label>
                </div>
                <button type="submit" class="btn btn-primary btn-block mb-4">Aggiorna password</button>
            </form>
        </div>
        <div id="containerPref" class="container">
            <form id="prefForm">
                <div class="form-outline mb-4">
                    <input type="text" name="pref" id="pref" class="form-control" required />
                    <label class="form-label" for="pref">Città da aggiungere ai preferiti</label>
                </div>
                <button type="submit" class="btn btn-primary btn-block mb-4">Aggiorna città preferite</button>
            </form>
        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/sha256.js"></script>
    <script src="../js/areaPersonale.js"></script>
    <%- include("../partials/scriptFondoPagina")%>
</body>

</html>