<!doctype html>
<html lang="it">

<head>
    <%- include("../partials/head")%>
        <link rel="stylesheet" type="text/css" href="../css/sign.css">
</head>

<body class="bootstrap">

    <nav id="topNavBar" class="navbar navbar-expand-lg navbar bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Meteo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Previsioni
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/previsioniRegionali">Regionali</a></li>
                            <li><a class="dropdown-item" href="/previsioniNazionali">Nazionali</a></li>
                        </ul>
                    </li>
                    <% if(!auth){%>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Autenticazione
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/login">Login</a></li>
                                <li><a class="dropdown-item" href="/registrazione">Registrazione</a></li>
                            </ul>
                        </li>
                        <%} else{%>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <%= user%>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="/areaPersonale">Area Personale</a></li>
                                    <li><a class="dropdown-item" href="/logout">Logout</a></li>
                                </ul>
                            </li>
                            <%}%>
                                <l1>
                                    <input type="checkbox" class="btn-check" id="darkModeToggle" autocomplete="off">
                                    <label class="btn btn-outline-primary" for="darkModeToggle">dark mode</label>
                                </l1>
                </ul>
                <div id="ricerca" class="d-flex">
                    <div id="ricercaDropdown" class="rounded shadow-5">
                    </div>
                    <form id="formRicerca" class="d-none d-md-flex input-group w-auto my-auto">
                        <input id="inputRicerca" class="form-control me-2" type="search"
                            placeholder="Inserisci una città..." aria-label="Search" autocomplete="off">
                        <button class="btn btn-outline-success" type="submit">Cerca</button>
                    </form>

                </div>


            </div>
        </div>
    </nav>

    <div class="container mt-4">

        <div class="row featurette align-items-center">
            <div class="col-md-7 d-flex justify-content-around">
                <h2 class="featurette-heading">Città cercata: <span id="citCercata" class="text-muted"> <%= search%></span>
                </h2>
                <ul class="list-unstyled">
                    <li id="citCercataTemp" class="lead"></li>
                    <li id="citCercataTempPerc" class="lead"></li>
                    <li id="citCercataHumid" class="lead"></li>
                    <li id="citCercataWeather" class="lead"></li>
                </ul>
            </div>

            <div class="col-md-5">
                <img id="citCercataImg" class="d-block w-100" alt="immagine <%= search%>">
            </div>
        </div>
        <hr class="featurette-divider">
    </div> 

    <script src="js/meteo.js"></script>
    <script src="js/citCercata.js"></script>
    <%- include("../partials/scriptFondoPagina")%>
</body>

</html>